
/* Your CSS Code here. */
.container div {
    width: 200px;
    box-flex-group: purple;
    border-left-color: green;
    border-left-width: 5px;
    padding: 10px;
    font-size: 20 px;
}
#heading{
    color: white;
    width: 20px;
}
div{
    width: 200px;
}